<div class="bg-gray text-gray border-top">
  <div class="container-lg px-3 page-section d-md-flex flex-md-row-reverse">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <p>
        <a class="link-gray text-bold mr-3" href="https://github.com/probot">GitHub</a>
        <a class="link-gray text-bold mr-3" href="/docs/">Docs</a>
      </p>
      <p> Coded with ❤️ by <a class="text-gray-light" href="https://github.com/anglinb">@anglinb</a> and <a class="text-gray-light" href="https://github.com/hiimbex">@hiimbex</a></p>
    </div>
  </div>
  <div class="text-center">
  </div>
</div>
