<div class="bg-gray text-gray border-top">
  <div class="container-lg px-3 page-section d-md-flex flex-md-row-reverse">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <p>
        <a class="link-gray text-bold mr-3" href="https://github.com/iamopensource/iamopensource.github.io">GitHub</a>
        <a class="link-gray text-bold mr-3" href="/docs/">Docs</a>
      </p>
      <p> Coded with ❤️ by <a class="text-gray-light" href="https://github.com/anglinb">@anglinb</a> and <a class="text-gray-light" href="https://github.com/hiimbex">@hiimbex</a></p>
    </div>
  </div>
  <div class="text-center">
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105604324-1', 'auto');
  ga('send', 'pageview');

</script>
