<div class="border-bottom bg-brand-blue-light">
  <div class="container-lg px-3">
    <div class="py-3 clearfix">
      <h1 class="h3 float-left">
        <strong class="">We Are Open Soure</strong>
      </h1>
      <nav class="text-bold d-block float-right">
        <a class="text-inherit px-2 d-inline-block" href="/why">Why</a>
        <a class="text-inherit px-2 d-inline-block" target="_blank" href="https://opensource.guide/how-to-contribute/">Contribute</a>
      </nav>
    </div>
  </div>
</div>
